a.anchor
{
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.profileDiv
{
    /* background-image: url(/portfolio/images/river.jpg); */
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("/images/austin_night_cropped.jpg");
    background-size: cover;
    min-height: 900px;
    padding-top: 350px;
}

.profileDiv h1, h2
{
    margin-left: 10px;
    margin-right: 10px;
}

.profileImage
{
    width: 300px;
    height: 300px;
    border-radius: 50%;    
    /* border: solid 2px white; */
}

.profileName
{
    font-size: 5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profileTitle
{
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 30px;
}

.aboutDiv
{
    background-color: rgb(211, 207, 207);
    color: black;
    padding: 16px;
}

.aboutDiv h1
{
    font-size: 50px;
}

.aboutDiv h4
{
    font-size: 22px;
}

.aboutDiv p, ul
{
    font-size: 20px;
}

.aboutDiv .row
{
    margin: 16px 16px 16px 16px;
}

.aboutDiv .row .flexContainer
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.aboutDiv .row .flexContainer .flexElement
{
    text-align: left;
    padding: 10px;
    margin: 30px;
}

@media screen and (min-width: 1450px) 
{
    .aboutDiv .row .flexContainer
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
    }

    .aboutDiv .row .flexContainer .flexElement
    {
        margin: 30px;
    }

}

.aboutDiv .row .iconContainer
{
    text-align: center;
    border-radius: 25px;
    background-color: white;
    width: 50px;
    height: 50px;
    color: black;
    margin: 15px 5px;
    display: inline-block;

    transition: 0.5s ease-in-out;    
}

.aboutDiv .row .iconContainer:hover
{
    background-color: rgb(74, 170, 83);
    color: white;
    transition: 0.5s ease-in-out;
}

.aboutDiv .row .iconContainer i
{
    padding-top: 12.5px;
    font-size: 25px;
}

.aboutDiv a
{
    text-decoration: none;
}

.skillsDiv
{
    background-color: rgb(74, 170, 83);
    min-height: 800px;
    padding: 16px;
}

.skillsDiv .row
{
    text-align: center;
}

.skillsDiv .row .title
{
    font-size: 50px;
}

.skillsDiv .skillTitle
{
    font-size: 30px;
}

.skillsDiv .row .flexContainer
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.skillsDiv .row .flexContainer .flexElement
{
    margin: 30px;
    /* border: solid white 2px; */
    text-align: center;
    padding: 10px;
    max-width: 350px;
}

.skillsDiv .row .iconContainer
{
    text-align: center;
    border-radius: 50px;
    background-color: white;
    width: 100px;
    height: 100px;
    color: black;
    margin: 0px auto;
    
}

.skillsDiv .row .iconContainer i
{
    padding-top: 25px;
    font-size: 50px;
}

.skillsDiv .row .exampleLink
{
    color: rgb(49, 49, 209);
}

.projectsDiv
{
    background-color: rgb(211, 207, 207);
    min-height: 800px;
    /* border-top: solid 2px white;
    border-bottom: solid 2px white; */
    color: black;
    padding: 16px 46px;
}

.projectsDiv .flexContainer
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* max-width: 500px;
    margin-left: auto;
    margin-right: auto; */
    margin-bottom: 33px;
}

.projectsDiv .flexContainer .flexElement
{
    /* border: solid white 2px; */
    text-align: center;
    max-width: 500px;
    max-height: 300px;

    min-width: 300px;
    min-height: 100px;

    margin: 0px;
    padding: 0px;
}

.projectsDiv h1
{
    font-size: 50px;
    margin-top: 25px;
}

.projectsDiv .flexContainer .flexElement .imgContainer h1
{
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.projectsDiv .flexContainer .flexElement .imgContainer
{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
    z-index: 0;
}

.projectsDiv .flexContainer .flexElement .imgContainer a
{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: block;

    text-align: center;
    font-style: normal;
    color: white;
    text-decoration: none;
}

.projectsDiv .flexContainer .flexElement .imgContainer a img
{
    position: relative;
    top: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
}

.projectsDiv .flexContainer .flexElement .imgContainer a .imgTint
{
    position: relative;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 170, 83, 0);

    transition: 0.5s ease-in-out;
}

.projectsDiv .flexContainer .flexElement .imgContainer a:hover .imgTint
{
    width: 90%;
    height: 90%;

    position: relative;
    top: 5%;

    margin: 5%;
    margin-top: 0%;

    background-color: rgba(74, 170, 83, 500);

    transition: 0.5s ease-in-out;
}

.projectsDiv .flexContainer .flexElement .imgContainer a .captionContainer
{
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
    text-shadow: black -0px 5px 10px;
}

.projectsDiv .flexContainer .flexElement .imgContainer a .captionContainer h1, p
{
    padding-left: 5%;
    padding-right: 5%;
}

.resumeDiv
{
    text-align: center;
    background-color: rgb(74, 170, 83);
    overflow: hidden;
}

.resumeDiv h1
{
    font-size: 50px;
    margin-top: 0px;
    padding-top: 46px;
}

.pdfHolder 
{
    position: relative;
    width: 80%;
    /* height: 50%; */
    padding-top: 100%; /* (9 / 16) * 100 = 56.25% for a 16:9 ratio */
    margin: 5% auto;
}

.pdfBox 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -30%;
}